[defaults]
roles_path = roles
inventory = inventory/hosts.yaml
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
remote_user = alcambic
ask_vault_pass = True
private_role_vars = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root

[ssh_connection]
pipelining = True
